@using MvcTicariOtomasyon.Models.Sınıflar
@model List<KargoDetay>

@{
    ViewBag.Title = "KargoTakip";
    Layout = "~/Views/Shared/_CariLayout.cshtml";
}


<br />
@using (Html.BeginForm("KargoTakip", "CariPanel", FormMethod.Get))
{
    <p>
        Kargo Takip Kodu:  @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}


<table class="table table-bordered" style="margin-top:20px;">

    <tr>

        <th>Personel</th>
        <th>Alıcı</th>
        <th>Takip Kodu</th>
        <th>Tarih</th>
        <th>Detay</th>
    </tr>
    @foreach (var item in Model)
    {

        <tr>
            <td>@item.Personel</td>
            <td>@item.Alici</td>
            <td>@item.TakipKodu</td>
            <td>@item.Tarih</td>
            <td>
                <a class="btn btn-info btn-sm" href="/CariPanel/CariKargoTakip/@item.TakipKodu">
                    @*normalde id'ye göre arama silme vs yapılırdı controller'da kargotakip
                        actionresult'unu string p diye tanımladık p de takip koduna göre bulacak
                        bu yüzden id değil takip koduna göre getirecek*@
                    <i class="fas fa-pencil-alt">
                    </i>
                    Detay
                </a>
            </td>
        </tr>

    }

</table>
